@using System.Text
@using BlazorApp1.Data;
@using System.Security.Cryptography;
@using Microsoft.AspNetCore.Cryptography.KeyDerivation;
@inject IJSRuntime JSRuntime
@inject SessionManager Session
@inject SqlManager Sql
@inject IToastService toastService

<div class="modal-background" style="display: @(IsChangePasswordOpen ? "block" : "none")"></div>

@if (IsChangePasswordOpen)
{
    <div class="modal d-block" style="animation: @(IsChangePasswordClose ? "fadeOut":"fadeIn") 0.7s forwards;">
        @*固定Modal 填滿畫面*@
        <div class="modal-dialog modal-dialog-centered">
            @*置中*@
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改密碼</h5>
                </div>
                <div class="modal-body">
                    舊密碼 : <input type="password" class="modal-input" @bind="OldPassword" />    
                    <br>
                    <br>
                    新密碼 : <input type="password" class="modal-input" @bind="NewPassword1" />
                    <br>
                    <br>
                    新密碼 : <input type="password" class="modal-input" @bind="NewPassword2" />
                    <br>
                    <br>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" @onclick="SaveModal">確定</button>
                    <button type="button" class="btn btn-primary" @onclick="CloseModal">取消</button>

                </div>
            </div>
        </div>
    </div>
}

@code {

    private string OldPassword = string.Empty;
    private string NewPassword1 = string.Empty;
    private string NewPassword2 = string.Empty;

    [Parameter]
    public bool IsChangePasswordOpen { get; set; }
    public bool IsChangePasswordClose { get; set; } = false;

    [Parameter]
    public EventCallback<bool> setisChangePassword { get; set; }


    private async Task CloseModal()
    {
        IsChangePasswordClose = true;
        await Task.Delay(700);
        IsChangePasswordClose = false;
        IsChangePasswordOpen = false;
        await setisChangePassword.InvokeAsync(IsChangePasswordOpen);
        OldPassword = string.Empty;
        NewPassword1 = string.Empty;
        NewPassword2 = string.Empty;
    }

    private async Task SaveModal()
    {
        IsChangePasswordClose = true;
        await Changepassword();
        await Task.Delay(700);
        IsChangePasswordClose = false;
        IsChangePasswordOpen = false;
        await setisChangePassword.InvokeAsync(IsChangePasswordOpen);
        OldPassword = string.Empty;
        NewPassword1 = string.Empty;
        NewPassword2 = string.Empty;
    }

    public async Task Changepassword()
    {
        toastService.ClearSuccessToasts();
        int uid = (await Session.GetElement<int>("uid")).Value;
        string email = (await Session.GetElement<string>("email")).Value!;
        int ChangePasswordState = await CheckInput(OldPassword, NewPassword1, NewPassword2);

        if (ChangePasswordState == 2)
            //await JSRuntime.InvokeVoidAsync("alert", "尚有欄位未輸入");
            toastService.ShowSuccess("尚有欄位未輸入");
        else if (ChangePasswordState == 3)
            //await JSRuntime.InvokeVoidAsync("alert", "密碼錯誤");
            toastService.ShowSuccess("密碼錯誤");
        else if (ChangePasswordState == 4)
            //await JSRuntime.InvokeVoidAsync("alert", "新密碼須大於6字元");
            toastService.ShowSuccess("新密碼須大於6字元");
        else if (ChangePasswordState == 5)
            //await JSRuntime.InvokeVoidAsync("alert", "新密碼不相同");
            toastService.ShowSuccess("新密碼不相同");
        else
        {
            
            string user_id = (await Session.GetElement<string>("user_id")).Value!;
            string NewHashed = Encryption(user_id, NewPassword1);
            Sql.ChangePassword(uid, NewHashed);
            //await JSRuntime.InvokeVoidAsync("alert", "修改密碼成功");
            toastService.ShowSuccess("修改密碼成功");
        }
        toastService.ClearQueueSuccessToasts();

    }

    public async Task<int> CheckInput(string old_p, string new_p1,string new_p2)
    {
        string user_id = (await Session.GetElement<string>("user_id")).Value!;
        string email = (await Session.GetElement<string>("email")).Value!;
        if (OldPassword == string.Empty || NewPassword1 == string.Empty || NewPassword2 == string.Empty)
            return 2;
        if (!Sql.User_Verify(email, old_p))
            return 3;
        if (new_p1.Length < 6)
            return 4;
        if (new_p1 != new_p2)
            return 5;
        return 1;
    }

    public string Encryption(string SaltString, string Password)
    {
        byte[] Salt = Encoding.UTF8.GetBytes(SaltString);

        string hashed = Convert.ToBase64String(KeyDerivation.Pbkdf2(
            password: Password!,
            salt: Salt,
            prf: KeyDerivationPrf.HMACSHA256,
            iterationCount: 100000,
            numBytesRequested: 256 / 8));

        return hashed;
    }

}
